


.imgtopdiv{
    text-align:center;
    width:50%;
    height:40%;
    flex-direction : column;
}
.imgcard{
    height:350px;
}
.topnav{
    text-align:center;
    margin-left : 45%;
}

.topHeading{
    text-align:center;
}