


.imgtopdiv{
    /* text-align:center; */
    width:100%;
    height:40%;
    flex-direction : column;
    margin-bottom : 25px;
    
}
.imgcard{
    height:350px;
    width:100%;

}
.topnav{
    text-align:center;
    margin-left : 45%;
}

.topHeading{
    text-align:center;
}